.wrapper, .header, .footer {
    width: 960px;

    margin-left: auto;
    margin-right: auto;
}

.header {
    background: yellow;

    height: 100px;
}

.menu {
    float: left;

    width: 33%;
    height: 250px;

    background: pink;
}

.main {
    float: right;

    width: 67%;
    height: 300px;

    background: #fffddf;
}

.footer {
    background: #dedede;

    height: 100px;
}

.clear {
    clear: both;
}
