#container {
    width: 1000px;
    margin: 0 auto;
    font-size: 0px;
}

header {
    height: 160px;
    background-color: purple;
}


footer {
    height: 200px;
    background-color: black;
}






















