.bg {
    background-image: url("persons.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    /*background-size: 50%;*/
    /*background-size: 300px 400px;*/
    background-position: top center;
    background-attachment: fixed;

    width: 1000px;
    height: 1000px;

    margin: 0 auto;
}
