#container {
    width: 700px;
    margin: 0 auto;
    padding: 20px 50px;
    background-color: #dedede;
}

#img1 {
    float: left;

    padding: 10px;
}

#img2 {
    float: right;

    padding: 10px;
}
