.main_block {
    width: 240px;
    height: 240px;
    background-color: #dedede;

    line-height: 240px;

    margin-left: auto;
    margin-right: auto;

    text-align: center;

    box-shadow: 0 0 20px aquamarine;
}

.text_block {
    vertical-align: center;

    text-shadow: 0 0 10px red;
}
