h1 {
    font-weight: bold;
    font-size: 32px;
}

h2 {
    font-weight: bolder;
    font-size: 28px;
}

p {
    font-size: 20px;
}

#first_p {
    font-weight: lighter;
    font-size: 20px;
    font-style: italic;
}

#last_p {
    font-style: oblique;
}
