h1 {
    color: blueviolet;
    background-color: antiquewhite;
}

h2 {
    color: #fff;
    background-color: #000;
}

p {
    color: rgb(54, 74, 101);
    background-color: rgb(23, 108, 224);
}

li {
    color: hsl(182, 20%, 50%);
    background-color: hsl(350, 58.8%, 42%);
}
